body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    background: black;
    overflow: hidden;
}

/* Yıldızlar */
canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Kart */
.card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 20px;
    max-width: 350px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    color: white;
    box-shadow: 0 0 15px rgba(255,255,255,0.3);
}

.card img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white;
    margin-bottom: 10px;
}

h1 {
    margin: 0;
}

p {
font-size: 14px;
opacity: 0.8;
}

.projects {
    margin-top: 15px;
}

.projects a {
    display: block;
    background: #ff7b00;
    padding: 10px;
    margin: 5px 0;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background 0.3s;
}

.projects a:hover {
    background: #ff9f3d;
}

.project-buttons button {
  background-color: #8b5cf6;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.project-buttons button:hover {
  background-color: #7c3aed;
}
